body, html {
    width: 99.5%;
    height: 99.5%;

    box-sizing: border-box;
}

.wrapper {
    width: 80%;

    margin: 100px auto;
}

.game-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;

    border: 1px solid gray;
    border-radius: 10px;
}

.game-box{
    width: 70%;
    min-width: 500px;
    height: 100%;
    min-height: 300px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.game-stats{
    width: 30%;
    height: 100%;
}

.tile-img{
    width: 100px;
    height: 100px;
}

/* Flip card */

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 100px;
    
    perspective: 1000px;

    margin: 5px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;

    border: 1px solid lightgray;
    border-radius: 5px;
}

.flip-card-inner.is-flipped{
    transform: rotateY(180deg);
}

.flip-card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-face--front {
    background-image: url("images/question.png");
}

.flip-card-face--back {
    background-image: url("images/butterfly.png");
    transform: rotateY(180deg);
}